##############################################
# Alles ignorieren                               # * bedeutet alles
##############################################
*

##############################################
# Verzeichnisse wieder erlauben
##############################################
!*/

##############################################
# Ordner ignorieren
##############################################
# /.Releases/
# *.Releases/
# !*/.Releases/
# /.aLT/
# *.aLT/
# !*/.aLT/

##############################################
# Verzeichnisse wieder erlauben                  # !*/Unterordner/
##############################################
!*/.docs/
!*/.github/ISSUE_TEMPLATE/
!*/.github/workflows/
!*/.github/nichtVerwendeteWorkflows/
!*/.vscode/

##############################################
# Ausnahme: diese Dateien NICHT ignorieren
##############################################
# Beispiel:
# - für Dateien in Unterordnern                  # !/Pfad/zur/Datein.txt
# - für einzelne Dateien                         # !Datein.txt
##############################################
!/.docs/Überlegungen.md
!/.github/ISSUE_TEMPLATE/bug_report.yml
!/.github/ISSUE_TEMPLATE/feature_request.yml
!/.github/ISSUE_TEMPLATE/idea.yml
!/.github/ISSUE_TEMPLATE/task.yml
!/.github/nichtVerwendeteWorkflows/Demo.yml
!/.github/nichtVerwendeteWorkflows/publish.yml
!/.github/workflows/deploy.yml
!/.github/workflows/release.yml
!/.github/PULL_REQUEST_TEMPLATE.md
!/.vscode/settings.json
!/.gitattributes
!/.gitignore
!/app.js
!/index.html
!/LICENSE
!/README.md
!/style.css

